name: Run tests

on:
  push:
  schedule:
    - cron: '0 0 * * *'

jobs:
  php-tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        php: [ 8.0, 8.1, 8.2, 8.3 ]
        laravel: [ 11.*,10.*, 9.*, 8.* ]
        dependency-version: [ prefer-stable ]
        os: [ ubuntu-latest ]
        include:
          - laravel: 11.*
            testbench: v9.0.0
            database: 9.0.x-dev
          - laravel: 10.*
            testbench: 8.*
            database: 8.0.x-dev
          - laravel: 9.*
            testbench: 7.*
            database: 7.0.x-dev
          - laravel: 8.*
            testbench: 6.*
            database: 6.x-dev
        exclude:
          - laravel: 10.*
            php: 8.0
          - laravel: 11.*
            php: 8.1
          - laravel: 11.*
            php: 8.0
          - laravel: 8.*
            dependency-version: prefer-lowest


    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.dependency-version }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
          coverage: xdebug

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
          composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction --no-suggest

      - name: Execute tests
        run: make test
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./tests/build/logs/clover.xml
